@model List<LowYurt3.Models.MisPedidosViewModel>

@{
    ViewData["Title"] = "Mis Pedidos";
}
<head>
    <style>
        body{
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            padding-top: 68px;
            background-color: #f5f5f5;
            color: #333;
            line-height: 1.6;
        }
        main{
            margin-bottom:100px;
        }
    </style>
</head>
<h2>Mis Pedidos</h2>

@if (Model.Count == 0)
{
    <p>No tienes pedidos realizados.</p>
}
else
{
    foreach (var pedido in Model)
    {
        <div class="card mb-4 p-3 shadow-sm">

            <p><strong>Fecha:</strong> @pedido.FechaCompra?.ToString("dd/MM/yyyy")</p>
            <p><strong>Total:</strong> $@pedido.ValorTotal</p>
            <p><strong>Productos:</strong></p>

            <table class="table">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Valor Unitario</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var prod in pedido.Productos)
                    {
                        <tr>
                            <td>@prod.NombreProducto</td>
                            <td>@prod.Cantidad</td>
                            <td>$@prod.ValorUnitario</td>
                            <td>$@(prod.ValorUnitario* prod.Cantidad)</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    }
}
