@{
    ViewData["Title"] = "Terminos y Condiciones";
}
    <style>
        .content {
            text-align: center;
        }

        h1 {
            margin-top: 100px;
            font-size: 36px;
            font-weight: bold;
            color: #000000;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        h2 {
            font-weight: normal;
            font-size: 24px;
            color: #000000;
            text-transform: capitalize;
            margin-bottom: 30px;
        }

        p {
            margin-left: 150px;
            margin-right: 150px;
            margin-bottom: 15px;
            font-size: 21px;
            color: #000000;
        }


        ol {
            margin-left: 200px;
            margin-right: 200px;
            margin-bottom: 10px;
            font-size: 20px;
            color: #000000;
        }
    </style>
    <div class="content">
        <h1>TÉRMINOS Y CONDICIONES</h1>
        <h2>Programa Low-Yurt</h2>
    </div>
    <p>
        1. Definición de Términos: Para efectos de los presentes términos y condiciones, las palabras iniciadas
        en mayúscula que se listan a continuación tendrán el significado que se les asigna en la presente Cláusula 1,
        términos que podrán usarse en su forma plural o singular sin que por ello se vea afectado su significado las
        palabras que se señalan a continuación tendrán los siguientes significados:
    </p>
    <ol type="a">
        <li>
            “Confirmación de Pedido”: Significa la confirmación de pedido de ADC indicando la aceptación de su Pedido.
        </li>
        <li>
            “Contrato”: Significa, conjuntamente, estos Términos y la Confirmación de Pedido.
        </li>
        <li>
            “Producto”: Significa todo producto disponible del menú autorizado.
        </li>
        <li>
            “Promociones”: Promocionar la venta de alimentos solicitados por los Usuarios, los que podrán venderse bajo las
            modalidades de Carta/Promociones. Siempre que los presentes Términos aludan genéricamente a los Servicios, deberá
            entenderse que están haciendo alusión a los servicios en línea.
        </li>
        <li>
            “Términos”: Son los presentes términos y condiciones.
        </li>
        <li>
            “Usuario”: Significa el cliente usuario de la App dirigida a la web  que realiza su pedido de Productos a través de esta.
        </li>
    </ol>
    <p>
        2. Alcance:
    </p>
    <p>
        Mediante su acceso a la aplicación dirigida a la web, el Usuario acepta la totalidad de los presentes Términos, los que rigen la relación
        contractual que existe entre el Usuario y ADC.

        Si el Usuario no acepta estos Términos, no podrá acceder a los Servicios y deberá abstenerse de continuar ingresando a la aplicación.

        ADC podrá dejar de ofrecer o denegar el acceso a la totalidad de los Servicios y Aplicaciones, o a cualquier parte de ellos,

        en cualquier momento y por cualquier motivo. Salvo por aquellos Servicios que ADC le adeude al Usuario, los que en cumplimiento de

        la normativa vigente le serán prestados hasta su efectiva culminación.

        Se podrán aplicar condiciones suplementarias a determinados Servicios, como políticas para un evento, una actividad o una

        promoción particular, dichas condiciones suplementarias se le comunicarán en relación con los Servicios aplicables.

        Las condiciones suplementarias se establecen además de los Términos, y se considerarán una parte de estas para los Términos aplicables.

        Las condiciones suplementarias prevalecerán sobre los Términos en caso de conflicto con respecto a los Servicios aplicables.

        ADC podrá modificar los Términos aplicables a la utilización de las Aplicaciones o la prestación de los Servicios en cualquier momento.

        Siendo éstos efectivos después de la publicación por parte de ADC de dichas condiciones actualizadas o condiciones suplementarias sobre el Servicio aplicable.

        Su acceso a las Aplicaciones o el uso continuado de los Servicios después de dicha publicación constituye su consentimiento a vincularse por los Términos modificados.

        Al utilizar la App dirigida a la web  y realizar un pedido por medio de “Pide en línea”. declara y garantiza ser mayor de 18 años de edad,

        y contar con plena capacidad jurídica para obligarse de acuerdo con lo previsto en estos Términos.
    </p>
    <p>
        3. La Naturaleza de los Servicios: Los Servicios prestados por ADC son ofrecidos bajo dos modalidades, a saber:
    </p>
    <ol type="a">
        <li>
            Servicios de Pide en línea: En virtud de los cuales el Usuario ordenará los Productos a través de la App dirigida
            a la web y inicia el domicilio con un intermediario para realizar la entrega. Aplicación le indique bajo los términos y condiciones indicados más adelante.
        <li />
    </ol>
    <p>
        4. Realización del Pedido: El Usuario podrá realizar su pedido a través de la App:
    </p>
    <ol type="a">
        <li>
            Pedidos a través de la App dirigida a la web : Para efectos de realizar su pedido a través de la App dirigida a la web , el Usuario deberá:
        </li>
        <li>
            Ingresar a la Aplicación para seleccionar la modalidad de pide en linea.
        </li>
        <li>
            Deberá usar la opción de crear un usuario, evento en el cual se guardarán sus datos.
        </li>
        <li>
            Digitar la dirección a donde quiere que llegue su pedido.
        </li>
        <li>
            Seleccionar los Productos que desea adquirir, así como las opciones de modificación del Producto que se ofrecen en la App dirigida a la web ,
            indicar luego la Confirmación del Pedido e ingresar la información de entrega, entre otros, de acuerdo con los términos y condiciones establecidos en la Política de Privacidad de ADC y,
            opciones de pago. Una vez suministrada la información, el Usuario deberá ingresar en el botón “Finalizar Compra” para finalizar la realización del pedido,
            momento en el cual el Usuario emite una oferta clara y expresa para la adquisición de los Productos de ADC, la cual podrá ser aceptada o rechazada por ADC,
            a su entera discreción. En caso de que ADC acepte la oferta del Usuario, procederá a enviar los Productos a la dirección indicada en los datos suministrados a
            través de la App dirigida a la web y, en caso de que por cualquier razón ADC no haya recibido el pedido y/o el Usuario haya recibido el pedido erróneo,
            el Usuario debe ingresar al soporte de la página y llamar al número de atención al cliente, ADC presentarán al Usuario las alternativas pertinentes para cada caso.
        </li>
        <li>
            Para los servicios de Pide en línea: ADC no será responsable de realizar un nuevo pedido al Usuario si este ha indicado su dirección de manera errónea o si el Usuario no se presenta para
            recibirlo en la dirección indicada. En este evento los costos de envío del producto serán asumidos por el Usuario.
        </li>
        <li>
            Los pedidos efectuados a través de la App dirigida a la web para los Servicios pide en línea (envío a domicilio) incluirán los siguientes cargos: costo de envío (valor de envío desde el Restaurante
            hacia la dirección indicada) y tarifa de servicio (tarifa que cubre costos de operación de plataforma y seguimiento de pedidos). Dichos cargos se calcularán de la siguiente manera: para el costo de envío
            dependerá la distancia del Restaurante hacia el domicilio indicado por el Usuario y, para la tarifa de servicio, corresponderá a un monto fijo y único para cualquier pedido independientemente del monto total de la compra.
        </li>
    </ol>

    <p>
        5. Propinas: En caso de contar con la opción de propinas, El Usuario es libre de reconocer y pagar un valor adicional a aquel que pague por la adquisición de los Productos por concepto de propina al repartidor asignado
        para la entrega del pedido, cuando el mismo se haya realizado mediante la App dirigida a la web .
    </p>
    <p>
        6. Responsabilidad del Usuario frente a los Servicios y las Aplicaciones: a) El Usuario es responsable de obtener el acceso a la red de datos necesaria para utilizar la App dirigida a la web . b) Podrán aplicarse las tarifas y
        tasas de datos y mensajes de la red móvil del Usuario si éste accede a la App dirigida a la web  desde un dispositivo inalámbrico, siendo el Usuario responsable de dichas tarifas y tasas.
    </p>
    <p>
        7. Responsabilidad de ADC con respecto a la App dirigida a la web : ADC no asume responsabilidad alguna derivada del uso de la App dirigida a la web  incluyendo, pero no limitado a:
    </p>

    <ol type="a">
        <li>
            a) La utilización de los materiales, ya sean prohibidos o permitidos.
        </li>
        <li>
            Los eventuales daños y perjuicios a los Usuarios causados por un funcionamiento normal o anormal de la App dirigida a la web y sus contenidos.
        </li>
        <li>
            Los contenidos de aquellas páginas a las que los Usuarios puedan acceder desde enlaces incluidos en la App dirigida a la web ya sean autorizados o no.
        </li>
        <li>
            Los actos u omisiones de terceros, independientemente de la relación que dichos terceros pudieran tener con ADC.
        </li>
        <li>
            El acceso y uso de menores de edad a los contenidos incluidos en la App dirigida a la web, así como el envío de información personal que estos pudieran realizar.
        </li>
        <li>
            Errores o retrasos en el acceso a la App dirigida a la web en el momento de introducir los datos en el formulario de Confirmación de Pedido, la lentitud o imposibilidad
            de recepción de la Confirmación de Pedido o cualquier anomalía que pueda surgir cuando tales incidencias sean debidas a problemas en la red internet, caso fortuito o fuerza
            mayor o cualquier otra contingencia imprevisible y no imputable a ADC.
        </li>
        <li>
            Fallos o incidencias que pudieran producirse en las comunicaciones, ya sea borrándose o por transmisiones incompletas, de manera que no se garantiza que los servicios de la
            App dirigida a la web estén constantemente operativos. En todo caso, el Usuario acepta y reconoce expresamente que los montos que ADC deba reconocer al Usuario por cualquier
            responsabilidad debidamente probada de aquella, no excederá del monto que el Usuario haya pagado a ADC para la adquisición de los Productos que derivaron el reconocimiento
            de responsabilidad por parte de ADC.
        </li>
    </ol>
    <p>
        8. Reversión de pagos realizados a través de la App dirigida a la web :
    </p>
    <p>
        8.1. Los Usuarios que realicen su pedido a través de la App dirigida a la web  utilizando su tarjeta de crédito, débito o cualquier otro instrumento de pago electrónico
        tendrán derecho a solicitar la reversión del pago cuando:
    </p>
    <ol type="a">
        <li>
            El Usuario sea objeto de fraude.
        </li>
        <li>
            El pedido corresponda a una operación no solicitada por el consumidor.
        </li>
        <li>
            El producto pedido no sea recibido, de acuerdo con las disposiciones de estos Términos.
        </li>
        <li>
            El producto entregado no corresponda a lo solicitado por el consumidor, y el mismo no haya sido consumido por éste; y/o
        </li>
        <li>
            Cuando el producto se encuentre defectuoso
        </li>
        <li>
            El consumidor deberá presentar la solicitud de reversión a través de cualquiera de los medios de contacto dispuestos en el numeral 10 de estos Términos,
            dentro de los 5 días hábiles siguientes a la fecha en que tuvo noticia de la operación fraudulenta o no solicitada, o dentro de la hora siguiente al momento en el cual
            debió haber recibido el producto, o lo recibió defectuoso, o sin que correspondiera a lo solicitado. Lo anterior, teniendo en cuenta la naturaleza de alimento de los productos,
            y el gran interés de ADC por entregar una solución pronta, oportuna y satisfactoria al consumidor y notificar de la reclamación al emisor del instrumento de pago electrónico
            utilizado para realizar la compra.
        </li>
    </ol>
    <p>
        8.2. Para el proceso de devolución, se deberá surtir el siguiente procedimiento:
    </p>
    <ol type="a">
        <li>
            Si el pago fue realizado por la opción Botón PSE, la devolución solicitada será realizada por el proceso de devolución habilitado en la pasarela de pagos denominado “billetera virtual”
            y será efectuada directamente por Mercado Pago al perfil que el Usuario ha creado en dicha pasarela de pagos. Los recursos cargados a la cuenta del Usuario en Mercado Pago son de libre
            destinación por parte del comprador, quien puede retirar dichos recursos a la cuenta bancaria de su preferencia. El proceso de reversión se realizará dentro de los
            tiempos señalados por la normatividad vigente.
        </li>
        <li>
            Si el pago fue realizado por otra opción (distinta al botón PSE), ADC solicitará a Mercado Pago, como procesador del pago, que se realice la reversión, quien a través de los canales habilitados
            con las distintas entidades emisoras de los instrumentos de pago electrónico gestionará la reversión de la operación. La reversión se adelantará al instrumento de pago utilizado por la entidad
            financiera emisora del mismo, dentro de los términos legales.
        </li>
    </ol>
    <p>
        8.3. Si quieres generar el “Retiro” de la devolución del pago generada a la cuenta en Mercado pago y ya tienes cuenta creada, solo debes realizar los siguientes pasos
    </p>
    <ol type="a">
        <li>
            Ingresa a www.mercadopago.com.co con el correo y la contraseña registrados.
        </li>
        <li>
            En el menú principal, selecciona la opción “Tu Perfil”.
        </li>
        <li>
            En el menú secundario “Cuentas Bancarias” selecciona la opción “Agregar Cuenta” e inscribe una cuenta bancaria de tu preferencia siguiendo el paso a paso.
        </li>
        <li>
            Vuelve al menú principal y selecciona la opción "Retirar Dinero”.
        </li>
        <li>
            Ingresa el monto a retirar, la cuenta bancaria a la que quieres que sea transferido tu dinero y confirma la operación.
        </li>
    </ol>
    <p>
        8.4. Si quieres generar el “Retiro” de la devolución del pago generada a la cuenta en Mercado pago y no tienes cuenta creada en Mercado Pago, deberás realizar los siguientes pasos:
    </p>
    <ol type="a">
        <li>
            Ingresa a www.mercadopago.com.co
        </li>
        <li>
            Presiona el botón azul que dice "Crea tu cuenta".
        </li>
        <li>
            Completa los datos correspondientes y en donde dice “e-mail" utiliza el mismo e-mail con el cual hiciste la compra en ADC y sigue el flujo de registro.
        </li>
        <li>
            Una vez que termines el registro e ingreses a tu nueva cuenta, el dinero correspondiente al pago devuelto aparecerá de forma inmediata en la sección “Actividad”.
        </li>
        <li>
            Para retirarlo de tu cuenta Mercado Pago, en el menú principal selecciona la opción “Tu Perfil”.
        </li>
        <li>
            En el menú secundario “Cuentas Bancarias” selecciona la opción “Agregar Cuenta” e inscribe una cuenta bancaria siguiendo el paso a paso.
        </li>
        <li>
            Vuelve al menú principal y selecciona la opción "Retirar Dinero”.
        </li>
        <li>
            Ingresa el monto a retirar, la cuenta bancaria a la que quieres que sea transferido tu dinero y confirma la operación.
        </li>
    </ol>
    <p>
        En todo caso, ADC se reserva el derecho de tener otros medios de pago, para tales casos, se efectuarán las reversiones conforme sus respectivos procedimientos
        y la normatividad vigente aplicable.
    </p>
    <p>
        8.5. Devolución del dinero por efectividad de la garantía, en caso de que sea solicitada por el usuario de conformidad a lo dispuesto en la Ley 1480 de 2011:
    </p>
    <ol type="a">
        <li>
            Si el pago fue realizado a través de la opción de dinero en efectivo, los Usuarios podrán elegir entre:
        </li>
        <li>
            (i) transferencia bancaria y deberá compartir con ADC su certificación bancaría, cédula de ciudadanía y el tiempo estimado por este medio de devolución será máximo 30 días hábiles.
        </li>
        <li>
            (ii) por medio de un código redimible cuya suma de dinero será igual a la suma pagada por los Usuarios por la compra o por el producto faltante, diferente o defectuoso.
        </li>
        <li>
            En caso tal de que los Usuarios decidan obtener el código redimible, esté únicamente podrá ser redimido por los Usuarios por productos de ADC a través la app dirigida a la web en
            las modalidad de “Pide en línea”.
        </li>
        <li>
            Cuando el Usuario utilice el código y desee comprar productos de ADC cuyo monto sea superior al representado en el código, el Usuario podrá abonar la diferencia por los medios
            de pago que ADC tenga autorizado por la App. Sin embargo, en el caso en que se adquieran productos ADC por un valor menor al contenido en el código, no da lugar a la entrega de
            dinero en efectivo o a través de transferencia. Los códigos permitirán la realización de consumos parciales por el monto que se escoja hasta agotar el total de la suma de dinero
            que representan o hasta que se cumpla el plazo de vigencia.
        </li>
        <li>
            El código redimible no constituye un título valor, ni un medio de pago, ni de cambio y la finalidad de su redención no es recibir una cantidad de dinero en efectivo por los Usuarios.
        </li>
        <li>
            El código redimible tendrá una vigencia de un (1) año, término que se empezará a contar a partir de la fecha de su expedición del código por ADC. En caso de que el código no sea redimido
            por el Usuario en su totalidad en el término previamente indicado el Usuario no podrá solicitar a ADC el reembolso del valor del restante en el código en efectivo ni por otro medio.
        </li>
    </ol>
    <p>
        9. Fuerza Mayor:
    </p>
    <p>
        ADC realizará su mejor esfuerzo para cumplir con sus obligaciones derivadas de su pedido. Sin embargo, no será responsable por demoras o incumplimiento si la demora o incumplimiento
        son debidos a fuerza mayor o caso fortuito, incluyendo, pero no limitado a eventos climáticos adversos, accidentes de tránsito, restricciones a la movilidad impuestas por el
        gobierno nacional o sobredemanda de productos ocasionadas con motivo de festividades. En caso de demora, ADC cumplirá con sus obligaciones tan pronto como le sea razonablemente posible.


    </p>
    <p>
        10. Propiedad intelectual: La App dirigía a la web así como su diseño, código fuente, contenido y demás elementos son propiedad intelectual de ADC, en dicho sentido, se advierte a los
        Usuarios que se encuentra protegida por la legislación aplicable en la República de Colombia. Queda expresamente prohibida la copia, reproducción, adaptación, modificación, distribución,
        comercialización, comunicación pública, total o parcial, de la App dirigía a la web ,y/o cualquier otra acción que comporte una infracción de las leyes aplicables en materia de propiedad
        intelectual y/o industrial, así como el uso de los contenidos de la App dirigía a la web , excepto en casos en que ésta haya sido previa y expresamente autorizada por ADC.
        ADC no concede licencia o autorización expresa o implícita alguna sobre los derechos de propiedad intelectual y/o industrial o sobre cualquier otro derecho o propiedad relacionada,
        directa o indirectamente, con los contenidos incluidos en la App dirigía a la web.
    </p>
    <p>
        11. Atención de quejas y reclamos con ADC:
    </p>
    <p>
        El Usuario puede:
    </p>
    <ol type="a">
        <li>
            dar click en el botón de ayuda de la App alojado en la sección de pedidos o,
        </li>
        <li>
            contactar a ADC a través del correo electrónico: oestepa270@gmail.com
        </li>
    </ol>
    <p>
        12. Ley Aplicable y Jurisdicción:
    </p>
    <p>
        Los presentes Términos se interpretarán y regirán de acuerdo con lo dispuesto en la legislación aplicable en la República de Colombia. En caso de que surja algún conflicto
        derivado de la interpretación o ejecución de los presentes Términos, o de la relación entre ADC y el Usuario, éste se resolverá de conformidad con las leyes de la República
        de Colombia a través de su jurisdicción ordinaria.
    </p>
    <p>
        13. Nulidad:
    </p>
    <p>
        En caso de que cualquier cláusula de los presentes Términos sea declarada nula, ineficaz o inoponible, las demás cláusulas seguirán vigentes y e interpretarán teniendo en cuenta
        la intención de los presentes Términos.
    </p>
    <p>
        14. No renuncia:
    </p>
    <p>
        La no exigencia del cumplimiento de cualquier condición establecida en estos Términos por parte de ADC, no constituye renuncia al mismo. Ello no afectará en modo alguno el derecho de ADC de hacer
        cumplir dicha condición con posterioridad.
    </p>
    <div style="height: 200px;"></div>
